.cast{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    gap: 1em;
    
}
.cast img{
    height:100px;
    width: 100px;
    border-radius: 50%;
}
.card{
    display: flex;
    align-items: center;
    gap:1em;
    border-right: 1px solid goldenrod;
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid gray;
    padding-right: 8px;
    padding-top: 2px;
    transition: all ease;
}
.card:hover{
    transform: scale(1.1);
}
.card-text{
    line-height: 4px;
}
 a{
    color:#3D3635;
}
@media (max-width:600px){
      .cast{
        flex-direction: column;
        padding: 2em;
      }
      .card-text{
        line-height:20px;
      }
      .card{
        width: 250px;
      }
}