body{
    background-color: #F1F1F1;
    color:#ffa905;
}
.videos{
    margin-top: 0;
}
.title{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding-top: 1em;}

.trailer img{
    width:500px;
    height: 300px;
}
.allTrailers{
    align-items: center;
    justify-content: center;
    background-color: #ffa905;
    color: white;
    display:flex;
     gap: 1em;
   justify-content: space-evenly;
   padding: 1.5em;
   margin-bottom: 0;
}
.allTrailers img{
    height: 200px;
}

.fan-videos{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: #ffa905;

}
.fan-title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.btn{
   display: flex;
   justify-content: center;
   padding: 1em;
}
.main-trailer{
    height: 390;
    width:640;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}